<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <dataConfiguration defaultDatabase="SQL_WMS"/>
  <connectionStrings>
    <add name="Access_WMS" connectionString="Data Source=D:\My Project\Weight Scale Management System\Reference Library\Databases\WMSDB.accdb;Jet OLEDB:Database Password=42C6G6fcwDR1pOVUXLD0L0N198wSBBjzZRdvFBvfnlg=;" providerName="System.Data.OleDb"/>
    <add name="SQL_WMS" connectionString="Data Source=192.168.1.10\MSSQL2008R2;Initial Catalog=WMS_IND;Persist Security Info=False;User ID=ZNI7OYTOx5jO+WDtC1HyJQ==;Password=JFS2cJlFr7F5CHzdi8/MJFXRJcvrATKnaDVY1mvgUHFk1IXFFGfQYg4hyT8195JL;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataAccessName" value="WMSDACSQL"/>
    <add key="LastLogInUserCode" value="admin"/>
    <add key="WCFEndPointAddress" value="http://localhost:8087/WMSWcfService/"/>
    <add key="MaxBufferSize" value="2147483647"/>
    <add key="MaxReceivedMessageSize" value="2147483647"/>
    <add key="OpenTimeout" value="1"/>
    <add key="CloseTimeout" value="1"/>
    <add key="CompanyName" value="NOVA Smart Technology"/>
    <add key="CompanyEmail" value="saipyi@gmail.com"/>
    <add key="CompanyPhone" value="092020345"/>
    <add key="CarNumberCode" value="0"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocumentLibraryService" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                             maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8087/WMSWcfService/DocumentLibraryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentLibraryService"
        contract="WcfDocumentLibraryService.IDocumentLibraryService"
        name="BasicHttpBinding_IDocumentLibraryService" />
    </client>
  </system.serviceModel>
</configuration>
